@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --white: #e0e0e0;
    --grey: #808080;
    --foreground: #222;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

* {
    transition-duration: 0.2s;
}

body {
    color: var(--foreground);
    background: var(--white);
    font-family: Arial, Helvetica, sans-serif;
}

header,
footer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    color: var(--white);
    background-color: var(--foreground);
    z-index: 10;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 2.5em;
    padding-inline: auto;
}

a {
    &:hover {
        color: var(--grey);
        text-decoration: underline;
    }
}